.card-container {
  /* color: #027b9a; */
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
}

.card {
  width: 280px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.card-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card-title {
  margin: 10px;
  font-size: 20px;
  text-align: left;
}